.title__header-belanja {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 90px;
}

.icon-belanja {
    border-radius: 5px;
    border: 2px solid #699BF7;
    padding: 0;
    width: 150px;
    height: 200px;
}

.icon-belanja p {
    margin: 0;
}

.content-2-belanja {
    margin-top: 140px;
    margin-bottom: 140px;
}


@media screen and (max-width: 700px) {
    .crd-rule {
        margin-bottom: 40px;
    }
}