<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="List of restaurant recommendations for you">
    <meta name="theme-color" content="#E42A4F"/>
    <link rel="icon" href="Favicon.png">
    <link rel="manifest" href="manifest.json">
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <title>AnimaCare</title>
</head>
<body>
    <a href="#hero" class="skip-link">Menuju ke konten</a>
    <app-bar></app-bar>
    <main id="mainContent" tabindex="0">
    </main>
    <footer-content></footer-content>
</body>
</html>