<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="A website that discusses about pets that contains a chat for pet health consultations with doctors directly, articles, discussion forums, product catalogs for pet supplies and needs">
    <meta name="theme-color" content="#699BF7" />
    <link rel="icon" href="Logo.png">
    <link rel="manifest" href="manifest.json">
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <title>AnimaCare</title>
</head>

<body>
    <a href="#hero" class="skip-link">Menuju ke konten</a>
    <app-bar></app-bar>
    <main id="mainContent" tabindex="0">
    </main>
    <footer-content></footer-content>
    <script
        type="text/javascript">window.$crisp = []; window.CRISP_WEBSITE_ID = "3377d798-fde8-4b58-b97b-77c5e8b26cb0"; (function () { d = document; s = d.createElement("script"); s.src = "https://client.crisp.chat/l.js"; s.async = 1; d.getElementsByTagName("head")[0].appendChild(s); })();</script>
</body>

</html>