.image2 {
    position: absolute;
    width: 440px;
    top: 95px;
    right: 70px;
    z-index: -1;

}

.form-sharing {
    width: 60%;
}

.sharing {
    margin-bottom: 140px;
}

@media screen and (max-width: 1000px) {
    .image2 {
        width: 50%;
        right: 20px;

    }

}

@media screen and (max-width: 700px) {
    .image2 {
        display: none;

    }

    .form-sharing {
        width: 100%;
    }
}