.image2 {
    position: absolute;
    width: 440px;
    top: 95px;
    left: 0;
    z-index: -1;

}

.form-post-sharing {
    width: 50%;
}

.sharing {
    margin-bottom: 140px;
}

@media (min-width: 1200px) {
    .image2 {
        left: 50px;
    }

    /* .form-sharing {
        width: 40%;
        right: 300px;
    } */
}

@media screen and (max-width: 1000px) {
    .image2 {
        width: 50%;
        right: 20px;
    }
}

@media screen and (max-width: 700px) {
    .image2 {
        display: none;

    }

    .form-post-sharing {
        width: 100%;
    }
}