.container-card-category {
    width: 100%;
    height: 100%;
    background-color: #fafafa;
}

.form-check {
    min-height: 44px;
    min-width: 44px;
    margin: 0;
    padding: 0;
}

.product {
    border-radius: 5px;
    padding: 0;
    width: 160px;
    height: 260px;
    margin-top: 8px;
}

.product p {
    margin: 5px;
    font-weight: bold;
}

#list-produk-item {
    width: 90%;
    height: 37rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    overflow-y: auto;
    padding: 50px;
}

#list-produk-item::-webkit-scrollbar {
    width: 0;
}

@media screen and (max-width: 700px) {
    .container-card-category {
        display: none;
    }

    #list-produk-item {
        width: 100%;
        padding: 10px;
    }

    .product {
        width: 100%;
        height: 300px;
    }
}

@media screen and (max-width: 400px) {

    .product {
        width: 100%;

    }

    #list-produk-item {
        width: 100%;
        padding: 10px;
    }
}