* {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 25px;
    font-weight: bold;
}

#anc {
    text-decoration: none;
    color: black;
}

.slideses {
    display: flex;
}

.img-artikel {
    width: 45vw;
}

.kanan1 {
    background-color: #699BF7;
    padding: 50px;
}

.kanan2 {
    background-color: #EB687F;
    padding: 50px;
}

.deskrip {
    margin-top: 40px;
    color: white;
}

.deskrip p {
    margin-top: 20px;
}

.all-article,
.fav-article {
    width: 100%;
    height: fit-content;
    border: none;
    outline: none;
    background-color: white;
}

.fav-article:focus {
    outline: none;
    border: none;
}

.all-article:focus {
    outline: none;
    border: none;
}

.search {
    display: flex;
    justify-content: center;
    margin-top: 55px;
}

.search-bar {
    width: 80%;
}

.search-input-article {
    border-radius: 20px;
    border: 3px solid #699BF7;
    width: 100%;
    padding: 10px;
    background-color: white;
}

.fav-article {
    border-left: 2px solid rgb(162, 162, 162);
}

.container-nav {
    margin-top: 30px;
    display: flex;
    text-align: center;
    justify-content: space-around;
}

.container-nav a {
    text-decoration: none;
    font-size: 25px;
    color: black;
    font-weight: bold;
}

a:hover {
    color: #699BF7;
}

.nav-link::after {
    content: '';
    display: block;
    width: 0px;
    height: 3px;
    background: #699BF7;
    transition: 0.3s;
}

li {
    text-decoration: none;
    list-style: none;
}

.nav-link:hover::after {
    width: 100%;
}

.list-article-inArtikel,
.list-article-fav {
    width: 100%;
    padding: 40px;
    display: grid;
    grid-column-gap: 17px;
    grid-row-gap: 25px;
    color: black;
    justify-content: center;
}

.list-article-inArtikel .card,
.list-article-fav .card {
    width: 95%;
    height: 30rem;
}

.artcl-update,
.artcl-fav {
    padding-left: 45px;
    padding-top: 35px;
    color: black;
    margin-top: 40px;
}

[data-tab-content] {
    display: none;
}

.active[data-tab-content] {
    display: block;
}

.card-text {
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    margin: 5px 0;
}


@media screen and (min-width: 750px) and (max-width: 800px) {

    .slideses {
        display: grid;
    }

    .img-artikel {
        width: 100%;
    }

}

@media screen and (min-width: 700px) {

    .list-article-inArtikel,
    .list-article-fav {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

}

@media screen and (min-width: 900px) {

    .list-article-inArtikel,
    .list-article-fav {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .deskrip {
        margin-top: 20px;
    }
}

@media screen and (max-width: 1025px) {

    .img-artikel {
        width: 100%;
    }

    .slideses {
        display: grid;
    }
}

@media screen and (max-width: 700px) {
    .container-nav {

        width: 100%;
    }

    .slideses {
        display: grid;
    }

    .img-artikel {
        width: 100%;
    }
}

.list-article-inArtikel,
.list-article-fav {
    margin-bottom: 140px;

}

@media screen and (max-width: 400px) {

    .container-nav {
        width: 100%;
    }

    .img-artikel {
        width: 100%;
    }

}

@media screen and (max-width: 350px) {
    .container-nav {
        padding-left: 10px;
        width: 100%;
    }

    .kiri {
        display: none;
    }
}