.container-daftar {
    height: 100vh;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* left */
.register-left {
    background-color: #fff;
    padding: 0 7%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.register-left h1 {
    font-size: 38px;
    font-weight: bold;
    color: #699BF7;
    margin-top: 5%;
}

.register-left p {
    font-size: 20px;
    color: #000;
    text-align: left;
    margin: 0;
}

.register-left .logo {
    width: 120px;
    margin: 0 auto;
}

.register-left .ilustration-hewan {
    width: 83%;
}

/* right */
.register-right {
    background-color: #699BF7;
    padding: 0 7%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.register-right h1 {
    font-size: 38px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    margin-top: 5%;
}

.register-right p {
    text-align: left;
    font-size: 20px;
    color: #fff;
}

.register-right p a {
    color: #fff;
}

.button-daftar {
    border: 1px solid #fff;
    padding: 8px;
    border-radius: 8px;
    font-size: 1.3em;
    outline: #fff;
    cursor: pointer;
    color: #699BF7;
    font-weight: bold;
    margin-bottom: 5%;
}

.label {
    font-size: 1.2em;
    color: #fff;
    font-weight: bold;
    margin-bottom: 5px;
}

@media screen and (min-width: 900px) {
    .container-daftar {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .register-left {
        order: 2;
    }

    .register-right {
        order: 1;
    }

}