.footer {
    background-color: #699BF7;
    text-align: center;
    font-size: 14px;
    color: #fff;
}

.row ul li {
    list-style: none;
}

.col h3 {
    font-weight: bold;
    font-size: 18px;
}

.footer p {
    margin: 0;
}

@media screen and (max-width: 600px) {
    .grid-footer {
        flex-direction: column;
        text-align: left;
    }

    .footer-kontak {
        margin-bottom: 12px;
    }

    .footer-email {
        margin-bottom: 12px;
    }
}