.form-postArtikel {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.cont-postArtikel {
    width: 80%;
}

.vector5-artikel {
    position: absolute;
    width: 200px;
    top: 80px;
    left: 100px;
    z-index: -1;
}

.vector6-artikel {
    position: absolute;
    top: 130px;
    right: 100px;
    z-index: -1;
}

.vector7-artikel {
    position: absolute;
    top: 700px;
    left: 50px;
    z-index: -1;
}