.form-postArtikel {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.cont-postArtikel {
    width: 80%;
}

.header-admin-back {
    background-color: #000000;
    padding: 10px;
    display: flex;
}

.button-bck {
    border: none;
    background-color: #000000;
    outline: none;
}

.vector5-artikel {
    position: absolute;
    width: 80px;
    top: 160px;
    left: 100px;
    z-index: -1;
}

.vector6-artikel {
    position: absolute;
    top: 130px;
    right: 100px;
    z-index: -1;
}

.vector7-artikel {
    position: absolute;
    top: 700px;
    left: 50px;
    z-index: -1;
}