.search-bar {
    border-radius: 5px;
}

.search-bar input {
    padding: 10px;
    outline: none;
    border: none;
    width: 100%;
}

.search-bar button {
    background-color: #fff;
    padding: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    margin-right: 5px;
}