/*
   Like
*/

.like {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    cursor: pointer;
    border: none;
    text-decoration: none;
    outline-style: none;
}

.like:focus {
    outline: none;
    border: none;
}


.laik,
.unlike {
    width: 40px;
    height: 40px;
}

.button-fav {
    display: flex;
    padding-right: 100px;
    justify-content: right;
    margin-top: 40px;
}

.ket-button {
    margin-top: 8px;
    padding-right: 15px;
    color: #699BF7;
}

/* .like {
    font-size: 18px;
    background-color: #699BF7;
    color: #fff;
    border: 0;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 16px;
    left: 16px;
    z-index: 10;
} */


* {
    margin: 0;
    padding: 0;
}

.artikel-detail {
    padding: 40px;
}

.img-artcl {
    display: flex;
    justify-content: center;
}

.deskripsi {
    padding-left: 40px;
    padding-top: 40px;
    padding-right: 40px;
}

.paragraf {
    font-size: 17px;
    font-weight: 400;
    line-height: 26px;
    color: black;
}

.deskrip-child {
    padding-left: 40px;
    padding-top: 40px;
    padding-right: 40px;
}

#detail-article {
    margin-bottom: 140px;
}

@media screen and (max-width: 400px) {
    .paragraf {
        text-align: justify;
    }

    .button-fav {
        padding: 0;
        justify-content: center;
    }

    .artikel-detail {
        padding: 5px;
    }
}

@media screen and (max-width: 350px) {
    .paragraf {
        text-align: justify;

    }

}