/*
   Like
*/

.like {
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #699BF7;

    bottom: 20px;
    left: 16px;
    border-radius: 50%;
    border: 0;

    font-size: 18px;
    color: white;
    cursor: pointer;
}

* {
    margin: 0;
    padding: 0;
}

.artikel-detail {
    padding: 40px;
}

.img-artcl {
    display: flex;
    justify-content: center;
}

.deskripsi {
    padding-left: 40px;
    padding-top: 40px;
    padding-right: 40px;
}

.paragraf {
    font-size: 17px;
    font-weight: 400;
    line-height: 26px;
    color: black;
}

.deskrip-chill {
    padding-left: 40px;
    padding-top: 40px;
    padding-right: 40px;
}